<div class="menu">
    <div class="logo">
        <a routerLink="home"><img src="./assets/logo/logo.png"></a>
    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="catalogo">Catalogo</a></li>
            <li><a routerLink="destinazioni">Destinazioni</a></li>
            <li><a routerLink="contatti">Contatti</a></li>
        </ul>
    </div>
    <div class="login">
        <button type="button" routerLink="utenti/login">Login</button>
        <button type="button" routerLink="loginAdmin">Area Riservata</button>
    </div>
</div>