<div class="titolo">
    <h1 class="i">ADVENTURE TIME</h1>
    <p class="a">Realizziamo i tuoi sogni di viaggio da una vita</p>
  </div>

  <div class="intro">
    <div class="testo">
      <p class="t">
        Adventure Time è un'affermata <strong>agenzia di viaggi</strong> dedicata a offrire esperienze di viaggio indimenticabili. 
       <strong> Con una passione per l'avventura e l'eccellenza nel servizio</strong>, ci impegniamo a rendere i sogni di viaggio dei nostri clienti una realtà.
      </p>
    </div>
    <div class="immagine">
      <img     src="../assets/pexels-jeswin-thomas-1007426.jpg" alt="">
    </div>
  </div>


  <div class="centrale">
    <div class="immagini">
    <img src="../assets/pexels-alex-brites-17777482.jpg" alt="">
    <img src="../assets/primaimg.jpg" alt="">
<img src="../assets/pexels-taryn-elliott-4390589.jpg" alt="">
</div>
    <div class="testo">
      <h2>PERCHÉ SCEGLIERCI?</h2>
      <ul>
        <li><strong style="font-size: 25px;">ESPERIENZA:</strong> Anni di esperienza nel settore del turismo</li>
        <li> <strong style="font-size: 25px;">PERSONALIZZAZIONE:</strong> Pacchetti su misura per soddisfare le esigenze individuali</li>
        <li> <strong style="font-size: 25px;">SICUREZZA:</strong> Assistenza 24/7 durante il viaggio</li>
        <li><strong style="font-size: 25px;">PARTNER AFFIDABILI:</strong> Collaborazione con le migliori compagnie aeree, hotel e fornitori di esperienze</li>
      </ul>
    </div>
  </div>


  <div class="finale">
    <p>Vivi delle esperienze mozzafiato con <strong style="color: #3498db;">ADVENTURE TIME</strong></p>
  </div>
  <div class="bottone">
    <button class="custom-button" (click)="vaiAlCatalogo()">Vai al Catalogo</button>
  </div>